<div>
<h1> <%= @group_name %></h1>
<%= @show %>
<%= @address %>
<%= @time %>
<%= @name %>
<%= @guest_limit %>
 <%= sanitize @description %>
<%= @last_updated %>
<%= @rsvpcount %>
<%= @payment_required %>
ruby bin/rake routes
</div>
