<div>
<h1> <%= @group_name %></h1>
<%= @show %>
<%= @address %>
<%= @time %>
<%= @name %>
<%= @meetup_link %>
<%= @guest_limit %>
 <%= sanitize @description %>
<%= @last_updated %>
<%= @rsvpcount %>
<%= %>
</div>
