<div>
<h1> Memorial Park Meetup</h1>
<%= @show %>
<%= @address %>
<%= @time %>
<p>Since I know we have a lot of members in the group who are new to the area or just new to knowing where to go with your kids, I thought it would be nice to have a play date where I will bring new knowlege of what is here for kids! So, if you are curious about what is in the area, as far as classes to take, parks to check out, places to go, come join us!This play date will take place at the playground behind the Library of the Chathams. It has a small parking lot but lots of street parking. If the weather is uncooperative I will reschedule. For those with bitty babies, please feel free to bring a blanket to lay down on the ground I also will bring mine. Also, no worries if you are running late, we will be hanging out for a while.I also should mention, I am not from this part of New Jersey, I grew up in Secaucus. I have lived here for 9 months and I am always learning more!</P>
<%= @last_updated %>
<%= @rsvpcount %>
<%= %>
</div>