<div>
<h1> Jennifer's House Meetup</h1>
<%= @show %>
<%= @address %>
<%= @time %>
<p>Jennifer has graciously offered to host a get together for us Moms in her water front home! Cocktails and conversation outside (weather permitting) overlooking the water sounds amazing to me!!! Who else is in??? ;)</p>
<%= @last_updated %>
<%= @rsvpcount %>
<%= %>