<!DOCTYPE html>
<html>
  <!-- When submit the form, the view rendered will be the index view of our articles resource -->
  <%= form_tag(meetups_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Meetups" %>
      <form class="submit">
    <input type="submit" value="Find that Meetup!" style="-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
  background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
  background-color:#77d42a;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  color:#306108;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #aade7c;
  submit:hover
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
  background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
  background-color:#5cb811;
  position:relative;
  top:1px;">
</form>
  <% end %>
<head>
  
  <title>Meetups</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="flash"><%= flash.notice %></p>


<%= yield %>

<!DOCTYPE html>

<div>
      <h3>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.username}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %> | <%= link_to "(register)", new_author_path %>
        <% end %>
      </h3>
</div>

</body>
</html>
